.event-text::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: #01a559;
    margin-top: 20px;
    margin-bottom: 20px;
}
span {
    font-weight: bold;
    margin-left: 5px;
}