<div class="w-full max-w-7xl mx-auto py-[50px] flex justify-between">
    <div class="w-full max-w-[850px]">
        <div class="flex justify-between mb-[40px]">
            <p class="text-[30px] font-bold">Hello, <span class="text-[#01A559]">Aziza!</span></p>
            <p class="text-[30px] font-bold">ID: <span class="text-[#01A559]">12345</span></p>
        </div>
        <div class="mb-6">
            <app-personalInfo></app-personalInfo>
        </div>
        <app-club></app-club>
    </div>
    <div class="max-w-[350px] flex flex-col justify-between">
        <div class="mb-[30px]">
            <app-advertising imgWidth="400px" imgHeight="450px" verticalView="450px" nike="smallNike.jpg"></app-advertising>
        </div>
        <div class="h-[380px] overflow-hidden">
            <app-eventsInfo></app-eventsInfo>
        </div>
    </div>
</div>

