<!-- ****************************************************** -->
<div class="bg-white w-full py-40px" id="main">
    <!-- Navigation start -->
    <div
        class="flex justify-between max-w-7xl mx-auto nav py-[30px] items-center h-[119px] shadow-[0_3px_6x_rgba(0, 0, 0, 0.16)]"
    >
        <div class="nav__left flex items-center">
            <img
                src="./assets/images/logo/navLogo.png"
                alt=""
                class="w-[116px] h-[116px]"
            />
            <div class="w-[152px] font-semibold">
                <p>Sog'lomlashtirish onlayn platformasi</p>
            </div>
        </div>
        <div class="nav__center">
            <ul class="flex gap-[40px] items-center">
                <li>
                    <a href="#" class="cool-link">{{
                        "yangiliklar" | transloco
                    }}</a>
                </li>
                <li>
                    <a href="#" class="cool-link">{{
                        "natijalar" | transloco
                    }}</a>
                </li>
                <li>
                    <a href="#" class="cool-link">{{
                        "ishtirokchilar" | transloco
                    }}</a>
                </li>
                <li>
                    <a href="#" class="cool-link">{{
                        "tashkilotchilar" | transloco
                    }}</a>
                </li>
                <li>
                    <a href="#" class="cool-link">{{ "media" | transloco }}</a>
                </li>
            </ul>
        </div>
        <div class="nav__right flex items-center gap-[10px]">
            <div
                class="w-[30px] h-[30px] bg-[#02A3D3] rounded-[6px] gap-[30px] flex justify-center items-center"
            >
                <mat-icon class="text-[white]">remove_red_eye</mat-icon>
            </div>
            <div
                class="bg-[#02A3D3] flex justify-center items-center w-[30px] h-[30px] rounded-[6px]"
            >
                <img
                    src="./assets/icons/disturb.png"
                    alt=""
                    class="w-[20px] h-[20px]"
                />
            </div>
            <div class="border-r-[2px] border-[#00000029] h-[30px]"></div>
            <div class="card flex justify-content-center">
                <languages></languages>
            </div>
            <div class="border-r-[2px] border-[#00000029] h-[30px]"></div>
            <div class="flex gap-[10px] cursor-pointer">
                <a [routerLink]="['/sign-in']">
                    <mat-icon class="text-[#02A3D3] text-[30px]"
                        >account_circle</mat-icon
                    >
                </a>
                <a
                    class="font-semibold text-[16px]"
                    [routerLink]="['/sign-in']"
                    >{{ "kirish" | transloco }}</a
                >
            </div>
        </div>
    </div>
    <!-- Navigation End -->
    <!-- Banner Start-->
    <div class="banner relative w-full flex items-center">
        <img
            src="./assets/images/ui/angular-material/scenes/banner.png"
            alt="" class="w-full h-full max-h-[800px] object-cover"
        />
        <div class="absolute w-full max-w-4xl -translate-x-1/2 left-1/2 flex justify-center z-10">
            <div class="relative bg-[#FFFFFF] bg-opacity-80 w-full max-w-[500px] rounded-[10px] search">
                <input type="text" class="w-full px-[32px] py-[10px]">
                <mat-icon class="absolute left-[10px] top-[10px]">search</mat-icon>
                <button class="absolute px-[29px] py-[10px] bg-[#02A3D3] rounded-[10px] right-0 text-white font-medium">Search</button>
            </div>
        </div>
        <div class="absolute w-full max-w-7xl mx-auto -translate-x-1/2 left-1/2">
            <app-info></app-info>

        </div>
    </div>
    <!-- Banner end -->
    <!-- Main start -->
    <div class="bg-[#F5F5F5] py-[60px] mb-[50px]">
        <div class="max-w-7xl mx-auto flex justify-center items-center">
            <div class="max-w-full grid grid-cols-1 bg-[#F5F5F5]">
                <p class="font-bold text-[35px] mb-[30px]">
                    {{ "yangiliklar" | transloco }}
                </p>
                <app-carusel></app-carusel>
            </div>
        </div>
    </div>

    <div class="w-full max-w-7xl mx-auto flex justify-between">
        <div>
            <h3 class="text-[35px] font-bold mb-[20px]">
                {{ "natijalar" | transloco }}
            </h3>
            <div
                class="max-w-[900px] mb-[20px] pb-[30px] pt-[10px] px-[30px] bg-[#F5F5F5] rounded-[20px]"
            >
                <app-score></app-score>
            </div>

            <h3 class="text-[35px] font-bold mb-[20px]">
                {{ "ishtirokchilar" | transloco }}
            </h3>
            <div
                class="max-w-[900px] mb-[20px] pb-[30px] pt-[30px] px-[30px] bg-[#F5F5F5] rounded-[20px]"
            >
                <app-diagramm></app-diagramm>
            </div>
            <div>
                <h4 class="text-[32px] mb-[20px] font-bold">
                    Qo'llanma rollik
                </h4>
                <app-video></app-video>
            </div>
            <h3 class="text-[35px] font-bold my-[20px]">Klublar</h3>
            <div
                class="max-w-[900px] mb-[600px] pb-[30px] pt-[10px] px-[30px] bg-[#F5F5F5] rounded-[20px]"
            >
                <app-clubs></app-clubs>
            </div>
        </div>
        <div class="w-[380px]">
            <div class="shadow-xl rounded-[20px] mb-[30px]">
                <app-nearest></app-nearest>
            </div>
            <h4 class="text-[35px] font-bold">
                {{ "yangiliklar" | transloco }}
            </h4>
            <div class="shadow-xl rounded-[20px]">
                <app-announcement></app-announcement>
            </div>
        </div>
    </div>
    <app-organizers></app-organizers>
    <div class="w-full max-w-7xl mx-auto mb-[30px]">
        <app-gallery></app-gallery>
    </div>
    <app-partners></app-partners>
    <div class="bg-black">
        <app-footer></app-footer>
    </div>
</div>
<!-- Main end -->
