:host ::ng-deep .p-dropdown{
    border:none !important;
}
:host ::ng-deep .p-dropdown .p-dropdown-trigger{
    justify-content: start !important;
    width: 10px;
}
:host ::ng-deep .p-dropdown-label{
    width: 80% !important;
    display: flex !important;
    flex: none !important;
}
:host ::ng-deep .p-dropdown-trigger-icon{
    font-size: 10px;
    color: #02A3D3;
    font-weight: 700 !important;
}
:host ::ng-deep .p-inputtext{
    color: #333333 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.cool-link {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.cool-link::after {
    content: '';
    display: block;
    margin-top:5px;
    width: 0;
    height: 2px;
    background: #02A3D3;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 50%;
    //transition: width .3s;
}
