.info{
    width:100%;
    max-width: 250px;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info p{
    font-size: 50px;
    color:white;
    font-weight: bold;
}
.info span {
    color:white;
    font-size: 22px;
}
