<div class="flex flex-col gap-[40px]">
    <div class="info bg-[#02A3D3] bg-opacity-90 rounded-[20px]">
        <p>{{eventInfo?.events}}</p>
        <div class="flex items-center gap-[10px]">
            <mat-icon svgIcon="events"></mat-icon>
            <span>Event</span>
        </div>
    </div>
    <div class="info  bg-[#01A559] bg-opacity-90 rounded-[20px]">
        <p>{{eventInfo?.participants}}</p>
        <div class="flex items-center gap-[10px]">
            <mat-icon svgIcon="people"></mat-icon>
            <span>Participants</span>
        </div>
    </div>
    <div class="info bg-[#DD2A1A] bg-opacity-90 rounded-[20px]">
        <p>{{eventInfo?.organizations}}</p>
        <div class="flex items-center gap-[10px]">
            <mat-icon svgIcon="organization"></mat-icon>
            <span>Organizations</span>
        </div>
    </div>
</div>
