<div class="w-full max-w-[750px] h-[570px] comp">
    <!-- <img src="./assets/computer.png" class="object-cover" alt="" /> -->
    <!-- <div class="card">
        <p-galleria [(value)]="images" [showIndicators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-item>
                    <img src="./assets/yugur/1.jpg" class="w-full max-w-[750px]"/>
                </ng-template>
        </p-galleria>
    </div> -->
</div>
<div
    class="w-full h-[400px] bg-[#01A559] pb-[60px] flex flex-col justify-end items-center"
>

    <div class="w-full max-w-7xl mx-auto flex justify-between items-center">
        <div class="w-full max-w-[300px] h-[2px] bg-white"></div>
        <div
            class="w-[161px] h-[143px] border-2 border-white rounded-[20px] flex flex-col gap-[10px] justify-center items-center"
        >
            <mat-icon svgIcon="createCustom"></mat-icon>
            <p class="text-[16px] font-semibold text-white">Yaratish</p>
        </div>
        <div
            class="w-[161px] h-[143px] border-2 border-white rounded-[20px] flex flex-col gap-[10px] justify-center items-center"
        >
            <mat-icon svgIcon="settingCustom"></mat-icon>
            <p class="text-[16px] font-semibold text-white">Sozlash</p>
        </div>
        <div
            class="w-[161px] h-[143px] border-2 border-white rounded-[20px] flex flex-col gap-[10px] justify-center items-center"
        >
            <mat-icon svgIcon="monitorCustom"></mat-icon>
            <p class="text-[16px] font-semibold text-white">Monitoring</p>
        </div>
        <div class="w-full max-w-[300px] h-[2px] bg-white"></div>
    </div>
</div>
<div class="w-full max-w-7xl mx-auto flex justify-center my-[40px]">
    <button class="bg-transparent border-[#01A559] rounded-[8px] border-2 py-[10px] px-[40px] text-[19px] font-semibold text-[#01A559]">Tashkil qilish</button>
</div>
<div class="w-full max-w-[1000px] mx-auto shadow-xl mb-[30px]">
    <div class="w-full bg-[#F6F6F6] flex py-[25px] rounded-t-[8px]">
        <div class="w-full flex justify-center items-center gap-[15px]">
            <mat-icon svgIcon="checkEventCustom"></mat-icon>
            <p class="text-[22px] font-semibold text-[#01A559]">Tadbir</p>
        </div>
        <div class="w-full flex justify-center items-center gap-[15px]">
            <mat-icon svgIcon="buildingCustom"></mat-icon>
            <p class="text-[22px] font-semibold text-[#01A559]">Tashkilot</p>
        </div>
    </div>
    <div class="flex justify-between py-[40px] px-[100px] rounded-b-[20px]">
        <div class="flex flex-col gap-[10px] ">
            <div>
                <label for="name">Nomi:</label>
                <div class="relative mt-[5px] w-[300px]">
                    <input type="text" id="name" placeholder="Tadbir nomi" class="w-full border-[1px] border-[#D9D9D9] rounded-[5px] py-[10px] px-[20px]">
                </div>
            </div>
            <div>
                <label for="time">Vaqti:</label>
                <div class="mt-[5px] relative">
                    <input type="text" id="time" placeholder="01.01.2023" class="w-full border-[1px] border-[#D9D9D9] rounded-[5px] py-[10px] px-[20px]">
                    <mat-icon svgIcon="calendarCustom" class="absolute calendarCustom"></mat-icon>
                </div>
            </div>
            <div>
                <label for="location">Joyi:</label>
                <div class="mt-[5px] relative">
                    <input type="text" id="location" placeholder="Toshkent" class="w-full border-[1px] border-[#D9D9D9] rounded-[5px] py-[10px] px-[20px]">
                    <mat-icon class="absolute text-[30px] right-[5px] text-[#01A559]">location_on</mat-icon>
                </div>
            </div>
        </div>
        <div class="w-[4px] h-[230px]  bg-[#F6F6F6]"></div>
        <div class="flex flex-col gap-[10px] ">
            <div>
                <label for="organization">Nomi:</label>
                <div class="relative mt-[5px] w-[300px]">
                    <input type="text" id="organization" placeholder="Tashkilot nomi" class="w-full border-[1px] border-[#D9D9D9] rounded-[5px] py-[10px] px-[20px]">
                </div>
            </div>
            <div>
                <label for="tel">Tel. raqami:</label>
                <div class="mt-[5px]">
                    <input type="text" id="tel" placeholder="+998 90 123-45-67" class="w-full border-[1px] border-[#D9D9D9] rounded-[5px] py-[10px] px-[20px]">
                </div>
            </div>
            <div>
                <label for="email">Email:</label>
                <div class="mt-[5px]">
                    <input type="email" id="email" placeholder="organization@gmail.com" class="w-full border-[1px] border-[#D9D9D9] rounded-[5px] py-[10px] px-[20px]">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-full max-w-7xl mx-auto flex justify-center my-[40px]">
    <button class="bg-[#01A559] rounded-[8px] border-2 py-[10px] px-[40px] text-[19px] font-semibold text-white">Yaratish</button>
</div>
