<div class="rounded-[20px]">
    <div class="py-[45px] px-[30px] text-white bg-[#02A3D3] rounded-t-[20px]">
        <p class="text-[25px] font-bold">Toshkent xalqaro marafoni</p>
    </div>
    <div class="flex bg-[#F6F6F6] p-[40px] counter">
        <div class="flex flex-col items-center">
            <p>12</p>
            <span>KUN</span>
        </div>
        <span class="text-[40px] font-extrabold">:</span>
        <div class="flex flex-col items-center">
            <p>20</p>
            <span>SOAT</span>
        </div>
        <span class="text-[40px] font-extrabold">:</span>
        <div class="flex flex-col items-center">
            <p>57</p>
            <span>DAQIQA</span>
        </div>
        <span class="text-[40px] font-extrabold">:</span>
        <div class="flex flex-col items-center">
            <p>25</p>
            <span>SONIYA</span>
        </div>
    </div>
    <div class="p-[30px] pb-0 flex flex-col">
        <p class="text-[22px] font-bold mb-[20px]">Qatnashchilar soni</p>
        <div class="w-[170px] h-[170px] p-[15px] rounded-full bg-[#02a3d32e] self-center mb-[30px]">
            <div class=" w-full h-full rounded-full  bg-[#02A3D3]  flex items-center justify-center">
                <p class="participant  rounded-full text-[45px] text-white font-bold">1000</p>
            </div>
        </div>
        <p class="text-[22px] font-bold mb-[20px]">Marafon Manzili</p>
    </div>
    <div class="rounded-b-[20px] overflow-hidden">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23980.11628015141!2d69.2535234662598!3d41.297668943852976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ba966c0cdbf%3A0xe69be7522d8208da!2sMilliy%20Bog!5e0!3m2!1sen!2s!4v1684660145743!5m2!1sen!2s" width="380" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>