:host ::ng-deep .p-carousel .p-carousel-indicators
{
display:none !important;
}
.p-carusel{
    color:red !important;

}
:host ::ng-deep .pi-chevron-right:before
{
color:#01A559 !important;
font-size: 30px !important;
}
:host ::ng-deep .pi-chevron-left:before
{
color:#01A559 !important;
font-size: 30px !important;
}
/* .card-items{
    padding: 8px 12px 7px 14px;
} */
.btn{
    padding: 13px 0 13px 0;
}
