::ng-deep .p-carousel .p-carousel-indicators
{
display:none !important;
}
.p-carusel{
    color:red !important;

}
::ng-deep .pi-chevron-right:before
{
color:#01A559 !important;
font-size: 20px !important;
}
::ng-deep .pi-chevron-left:before
{
color:#01A559 !important;
font-size: 20px !important;
}
