
<div class="card">
    <p-carousel [value]="events" [numVisible]="4" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoPlayInterval="3000">
        <ng-template let-events pTemplate="item">
            <!-- <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ events.image }}" [alt]="events.name" class="w-6 shadow-2" />
                </div>
                <div>
                    <h4 class="mb-1">{{ events.name }}</h4>
                    <h6 class="mt-0 mb-3">{{ '$' + events.price }}</h6>
                    <p-tag [value]="events.inventoryStatus" [severity]="getSeverity(events.inventoryStatus)"></p-tag>
                    <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                    </div>
                </div>
            </div> -->
            <div class="w-[300px] h-[450px] rounded-[10px] overflow-hidden card-items bg-white shadow-[0_3px_6x_rgba(0, 0, 0, 0.16)]">
                <div class="mb-3">
                    <img src="assets/images/Events/{{ events.image }}"  [alt]="events.name" class="shadow-2 h-[215px] object-cover" />
                </div>
                <h4 class="mb-1 text-center font-bold">{{ events.title }}</h4>
                <div class="text-left text-[14px] flex flex-col ml-[28px] gap-[8px]">
                    <p class="font-bold">Date:<span class="font-normal">{{events.date}}</span></p>
                <p class="font-bold">Participants:<span class="font-normal">{{events.participants}}</span></p>
                <p class="font-bold">Location:<span class="font-normal">{{events.participants}}</span></p>
                <p class="mt-0 mb-3 font-bold">Cost:<span class="font-normal">{{ '$' + events.cost }}</span></p>
                    <button (click)="onclickJoin(events.id)" class="rounded-[14px] btn bg-[#01A559] text-white font-bold mr-[25px]" >Join Us</button>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
