<div class="max-w-7xl w-full mx-auto px-[15px] py-[50px]">
    <div class="card">
        <p-table
            #dt1
            [value]="userInfo"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['id', 'fish', 'pinfl', 'tel', 'login', 'date']"
            >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:200px">
                        <div class="flex align-items-center">
                            ID
                            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:15rem">
                        <div class="flex align-items-center">
                            FISH
                            <p-columnFilter type="text" field="fish" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:200px">
                        <div class="flex align-items-center">
                            PINFL
                            <p-columnFilter type="text" field="pinfl" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">
                            Tel
                            <p-columnFilter type="text" field="tel" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">
                            Login
                            <p-columnFilter type="text" field="login" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:100px">
                        <div class="flex align-items-center">
                            Registration Date
                            <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width:100px">
                        <div class="flex align-items-center">
                            Change
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        {{ user.id}}
                    </td>
                    <td>
                        {{ user.fish}}
                    </td>
                    <td>
                        {{ user.pinfl }}
                    </td>
                    <td>
                       {{user.tel}}
                    </td>
                    <td>
                        {{user.login}}
                    </td>
                    <td class="text-center">
                        {{user.date | date:'MM.dd.yyyy'}}

                    </td>
                    <td>
                        <div class="flex">
                        <mat-icon (click)="openDialog(user)" svgIcon="mat_outline:edit" class="cursor-pointer hover:text-[#01A559]"></mat-icon>
                        <mat-icon svgIcon="mat_outline:delete" class="cursor-pointer hover:text-red-800" (click)="remove(user)"></mat-icon>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
