
<div class="flex rounded-[20px] shadow-xl bg-white">
    <div class="py-[40px] bg-white w-1/2 flex justify-center text-center rounded-[20px]">
        <div>
            <h4 class="text-[20px] font-semibold text-center text-[#02A3D3] mb-[30px]">UZCARD/HUMO</h4>
        <p class="after text-[18px] font-medium mb-[20px]">+998901234567</p>
        <p class="font-medium text-[#333333] text-opacity-40 mb-[10px]">Send Link</p>
        <div class="flex items-center gap-[30px] bg-[#F5F5F5] rounded-[14px] px-[10px] mb-[10px]">
            <img src="./assets/pay/click.svg" alt="" >
            <img src="./assets/pay/payme.svg" alt="" >
            <img src="./assets/pay/apelsin.svg" alt="" >
        </div>
        <p class="font-medium text-[#333333] text-opacity-40 mb-[10px]">
            or
        </p>
        <p class="after text-[18px] font-medium mb-[20px]">8600231256478974</p>
        <p class="after text-[18px] font-medium mb-[20px]">01/24</p>
        <div class="flex justify-around items-center">
            <p class="text-[18px] font-bold text-[#02A3D3]">15000 so'm</p>
            <button class="py-[12px] px-[60px] bg-[#02A3D3] text-white rounded-[14px]">Pay</button>
        </div>
        </div>
    </div>
    <div class="w-[4px] bg-[#A1A1A1] bg-opacity-20"></div>
    <div class="py-[40px] bg-white w-1/2 flex justify-center text-center rounded-[20px]">
        <div class="w-full">
            <h4 class="text-[20px] font-semibold text-center text-[#01A559] mb-[30px]">Mastercard/Visa</h4>
        <p class="after text-[18px] font-medium mb-[20px]">8600231256478974</p>
        <p class="after text-[18px] text-[#01A559] font-semibold mb-[20px]">Aziza Staff</p>
        <p class="after text-[18px] font-medium mb-[20px]">01/24</p>
        <p class="after text-[18px] font-medium mb-[20px]">0495</p>
        <div class="flex justify-around items-center mt-[80px]">
            <p class="text-[18px] font-bold text-[#01A559]">100$</p>
            <button class="py-[12px] px-[60px] bg-[#01A559] text-white rounded-[14px]">Pay</button>
        </div>
        </div>
    </div>
</div>
