:host ::ng-deep .p-dropdown{
    border:none !important;
}
:host ::ng-deep .p-dropdown .p-dropdown-trigger{
    justify-content: start !important;
    width: 10px;
}
:host ::ng-deep .p-dropdown-label{
    width: 80% !important;
    display: flex !important;
    flex: none !important;
}
:host ::ng-deep .p-dropdown-trigger-icon{
    font-size: 10px;
    color: #02A3D3;
    font-weight: 700 !important;
}
:host ::ng-deep .p-inputtext{
    color: #333333 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
