<div class="footer max-w-screen-xl mx-auto pt-[30px] pb-[30px]">
    <div class="footer__top flex justify-between">
        <div class="flex items-center gap-[30px]">
            <img src="./assets/footer/Logowhite.png" alt="" class="w-[80px] h-[80px]">
        <mat-icon class="text-white text-[27px]">local_phone</mat-icon>
        <img src="./assets/footer/telegramwhite.png" class="svgColor" alt="" class="w-[27px] h-[27px]">
        <mat-icon class="text-white text-[27px]">language</mat-icon>
        </div>
        <div>
        <a href="#main">
            <button class="w-[55px] h-[55px] rounded-[10px] bg-[#02A3D3]"><mat-icon class=" text-white text-[40px]">expand_less</mat-icon></button>
        </a>
        </div>
    </div>
    <div class="footer__bottom flex justify-between items-end">
        <ul class="flex gap-[20px] footer__menu">
            <li><a href="#">Yangiliklar</a></li>
            <li><a href="#">Natija</a></li>
            <li><a href="#">Ishtirokchilar</a></li>
            <li><a href="#">Tashkilotchilar</a></li>
            <li><a href="#">Fotolavha</a></li>
        </ul>

        <div class="flex gap-[30px]">
            <img src="./assets/footer/217.png" alt="" >
            <img src="./assets/footer/uzinfocom.png" alt="">
        </div>
    </div>
</div>
