<div class="footer max-w-7xl mx-auto pt-[30px] pb-[30px]">
    <div class="footer__top flex justify-between">
        <div class="flex items-center gap-[30px]">
            <img src="./assets/footer/Logowhite.png" alt="" class="w-[80px] h-[80px]">
        <mat-icon class="text-white text-[27px]">local_phone</mat-icon>
        <img src="./assets/footer/telegramwhite.png" class="svgColor" alt="" class="w-[27px] h-[27px]">
        <mat-icon class="text-white text-[27px]">language</mat-icon>
        </div>
        <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
    </div>
    <div class="footer__bottom flex justify-between items-end">
        <ul class="flex gap-[20px] footer__menu">
            <li><a href="#">{{"yangiliklar" | transloco}}</a></li>
            <li><a href="#">{{"natijalar" | transloco}}</a></li>
            <li><a href="#">{{"ishtirokchilar" | transloco}}</a></li>
            <li><a href="#">{{"tashkilotchilar" | transloco}}</a></li>
            <li><a href="#">{{"media" | transloco}}</a></li>
        </ul>

        <div class="flex gap-[30px]">
            <img src="./assets/footer/217.png" alt="" >
            <img src="./assets/footer/uzinfocom.png" alt="">
        </div>
    </div>
</div>
