<p-table [value]="scores" [tableStyle]="{'max-width': '400px'}">
    <!-- [selectAll]="false" -->
    <ng-template pTemplate="header">
        <tr>
            <th>
                <p-columnFilter field="title" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="scores" optionLabel="title" (onChange)="filter($event.value?.title===null ? $event.value :$event.value.title)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <p-tag [value]="option.title"></p-tag>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="date" matchMode="contains" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="scores" optionLabel="date" (onChange)="filter($event.value?.date.getFullYear()==null ? $event.value : $event.value.date.getFullYear())" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <p-tag [value]="option.date.getFullYear()"></p-tag>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="number" field="ID"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="location" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="scores" optionLabel="title" (onChange)="filter($event.value?.location==null ? $event.value :$event.value.location)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <p-tag [value]="option.location"></p-tag>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-scores>
        <tr>
            <td>{{1}}</td>
            <td>{{scores.title}}</td>
            <td><span class="font-bold">ID</span>:{{scores.id}}</td>
            <td>{{scores.location}}</td>
            <td>{{scores.date | date:'dd.MM.yyyy'}}</td>
            <td>{{scores.distance}}</td>
        </tr>
    </ng-template>
</p-table>
<!-- <p-dropdown [options]="score" [(ngModel)]="selectedCity" optionLabel="title"></p-dropdown> -->
