<p-table #dt1 [value]="scores" [paginator]="true" [tableStyle]="{ 'min-width': '700px'}"
scrollHeight="500px"
[scrollable]="true"
[rows]="8"
[rowsPerPageOptions]="[10, 25, 50]"
>
<ng-template pTemplate="caption">
<div class="flex justify-between">
    <div class="searchTable">
        <input  type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Event name" />
    </div>
    <div class="searchTable">
        <input  type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="ID" />
    </div>
    <div>
        <p-dropdown [options]="year" [(ngModel)]="selectYear" optionLabel="label">
        </p-dropdown>
    </div>
    <div>
        <p-dropdown [options]="city" [(ngModel)]="selectCity" optionLabel="label">
        </p-dropdown>
    </div>
</div>
</ng-template>
    <ng-template pTemplate="body" let-score let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{ score.title }}</td>
            <td>ID:{{ score.id }}</td>
            <td>{{ score.location }}</td>
            <td>{{ score.date | date }}</td>
            <td>{{score.distance}}</td>
        </tr>
    </ng-template>
</p-table>
